body {
    background-color: #000;
    /* Aplicar uma fonte no body faz com que todos os filhos recebam ela também */
    font-family: var(--font-dm-sans);
}   

.sidebar{
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 18.75rem; /* 300px para rem */
    background-color: var(--bg-color-dark);
}
.sidebar__navigation .logo{
    background-color: var(--bg-sidebar-dark);
    display: flex;
    border-radius: 0.5rem;
    padding: 16px 0 0 16px; 
}

.sidebar .logo img {
    width: 5rem; /* 80px para rem */
}

.sidebar__navigation{
    background-color: var(--bg-sidebar-dark);
    border-radius: 0.5rem;
    cursor: pointer;
/* Ordem dos espaçamentos do padding acima
 topo, direita, esquerda e abaixo */
}

.sidebar nav ul{
    list-style: none;
    margin-top: 1.25rem;
    padding: 0 1.25rem 0.625rem 1.25rem;
}
.sidebar nav ul li{
    padding: 0.625rem 0;
}

.sidebar nav ul li a {
    color: var(--text-sub-light);
    list-style: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.sidebar nav ul li a .fa {
    font-size: 1.25rem;
    margin-right: 0.625rem;
    font-weight: 300;
}

.sidebar ul li a:hover {
    color: var(--text-base-light);
}

.library {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--text-sub-light);
    font-weight: 600;
    border-radius: 0.5rem; /* 8px para rem */
    min-block-size: 2.5rem; /* 40px para rem */
    padding: 0.25rem 0.5rem; /* 4px, 8px para rem */
    font-size: 0.875rem; /* 14px para rem */
    margin-top: 0.625rem; /* 10px para rem */
    background-color: var(--bg-sidebar-dark);
    height: 70vh;
}


.library .library__button{
    display: flex;
    margin-right: 10px;
    color: var(--text-sub-light);
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 1.25rem 0.625rem; /* 20px, 10px para rem */
}

.library .library__button .fa {
    font-size: 1.25rem; /* 20px para rem */
    margin-right: 0.625rem; /* 10px para rem */
    font-weight: 300;
    padding-right: 0.5rem; /* 8px para rem */
}

.library .library__content{
    display: flex;
    justify-content: space-between;
}

.library .library__content .fa-plus {
    margin: 1.5rem 0.625rem; /* 24px, 10px para rem */
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem; /* 8px para rem */
    gap: 1.25rem; /* 20px para rem */
    background-color: #242424;
    color: var(--text-sub-light);
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0.5rem 0;
    padding: 1rem 1.25rem;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text{
    padding-bottom: 0.875rem; /* 14px para rem */
    color: var(--text-base-light);
}

.section-playlist__content .title{
    font-weight: 700;
}

.section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 0.8rem; 
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 1.25rem; /* 20px in rem */
    font-weight: 700;
    padding: 0.625rem; /* 10px in rem */
    margin-top: 0.75rem; /* 12px in rem */
    border: 0;
    width: 7.0625rem; /* 113px in rem */
}

.sidebar .cookies {
    margin: 1.5625rem 1.25rem; /* 25px 20px in rem */
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 0.625rem; /* 10px in rem */
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border-radius: 9999px;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    padding: 8px;
    width: 170px;
    margin: 8px;
    font-weight: bold;
}

.sidebar .language__button {
    align-items: center;
    background-color: transparent;
    border: 0.0625rem solid #878787; /* 1px in rem */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 10.625rem; /* 170px in rem */
    margin: 0.5rem; /* 8px in rem */
    padding: 0.5rem; /* 8px in rem */
    border-radius: 1.25rem; /* 20px in rem */
}

.disclaimer-premium{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg,#af2896,#509bf5);
    padding: 15px 40px;
}

.class{
    color: #FFF;
}

.disclaimer-premium .text {
   flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}
